<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [href]="'userhome'">Cinema</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleState()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01" [ngClass]="{ 'collapse': isCollapse }">
    
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" [href]="'buscar'">ESTRENOS!!!!! <span class="sr-only">(current)</span></a>
          </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="logOut()">Log Out</button>
    </form>
  </div>
</nav>
<br>
<br>
<br>
<div class="container">
  <div class="card">
    <div class="card-header">
      <h1>Mis Reservas</h1>
    </div>
    <div class="card-body">
    <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">FUNCTION</th>
        <th scope="col">SCHEDULE</th>
        <th scope="col">ROOM</th>
        <th scope="col">AMOUNT OF PEOPLE</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reserve of userReserves">
        <td> {{reserve.function.movieName}}</td>
        <td>{{reserve.function.schedule}}</td>
        <td>{{reserve.function.room}}</td>
        <td>{{reserve.amountOfPeople}}</td>
        <td><button (click)="deleteReserve(reserve.reserveId)" type="button" class="btn btn-danger">Eliminar Reserva</button></td>
        <td><button (click)="editReserve(reserve)" type="button" class="btn btn-warning">Editar Reserva</button></td>
      </tr>
    </tbody>
    </table>
    </div>
  </div>
</div>

