<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000b6">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" [href]="'userhome'">Cinema</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" [href]="'reserves'">Mis Reservas <span class="sr-only">(current)</span></a>
        </li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" (click)="logOut()">Log Out</button>
      </form>
    </div>
</nav>

<br>
<br>
<br>
<div class="container col-md-6">
    <div class="card">
      <div class="card-header">
        <h3>Editar Reserva</h3>
      </div>
      <div class="card-body">
        <form action="">
          <div class="form-group">
            <label for="">Cantidad:</label>
            <input [(ngModel)]="reserveEdit.amountOfPeople" name="amount" type="text" class="form-control">
          </div>
          <button (click)="Actualizar(reserveEdit)" class="btn btn-warning">Actualizar</button>
          <button (click)="Cancel()" class="btn btn-danger" style="margin-left: 15px">Cancelar</button>
          
        </form>
      </div>
    </div>
  </div>


