.card{
  width: 200%;
  margin-top: 10px;
}
.row{
  display: inline-block;
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.contenedor-formulario {
    width: 400px;
  }

.download {
    background: #1081ff;
    color: #FFFFFF;
    padding: 10px 20px;
    margin-bottom: 20px;
     
      text-decoration: underline;
      color: #FFFFFF;
    
  }
